fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic-settings
python-multipart

langchain
langchain-community
langchain-core
langchain-openai
chromadb
sentence-transformers
pypdf

openai
transformers
torch
requests
ollama

pytest
httpx

loguru

tiktoken
passlib[bcrypt]
rank-bm25
spacy
nltk
numpy

pydantic
httpx